{% extends "base-transaction.html" %}
{% block title %}Types of organisation{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
     <h3>We've found the following addresses for that postcode</h3>
     <form action="{{url_for('choose_address')}}" method="post">
         {{form.address_choices(class_="radio")}}
         <button type="submit" class="button expand">Next</button>
         {{ form.csrf_token }}
      </form>
    </div>
  </div>
{% endblock %}
