{% extends "base-service.html" %}
{% block title %}{{organisation.name}}{% endblock%}
{% block service_title %} Manage - {{organisation.name}}{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>{{organisation.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      {% include "_tabs.html" %}
      <p>
      You have no registered employees.
      </p>
      <p>
        <a class="button expand" href="#">Add an employee</a>
      </p>
    </div>
  </div>
{% endblock %}
