{% extends "base-transaction.html" %}
{% block title %}Company name{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
     <h2>Company details</h2>
     <form id="start_details" action="" method="post">
         {{ render_field(form.name) }}
        <p id="ok">
          <span class="ok label success">Name available</span>
        </p>
        <p id="nok">
          <span class="nok label warning">Name not available</span>
        </p>
         {{ render_field(form.activities) }}
         <button type="submit" class="button expand">Next</button>
         {{ form.csrf_token }}
      </form>
    </div>
  </div>
{% endblock %}
