{% extends "base-transaction.html" %}
{% block title %}Review Application{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
     <h2>Review details</h2>
     <div class="panel">
       <dl>
         <dt>Company name</dt>
         <dd>{{order.name}}</dd>
         <dt>Organisation type</dt>
         <dd>{{order.organisation_type.replace('-',' ')}}</dd>

         <dt>Address</dt>
         <dd>{{order.address}}</dd>

         <dt>Activities</dt>
         <dd>{{order.activities}}</dd>

         {% if order.register_data or order.register_employer or order.register_construction %}
          <dt>Registrations</dt>
           {% if order.register_data %}
              <dd>Data Protection</dd>
           {% endif %}
           {% if order.register_employer %}
              <dd>Employent &amp; PAYE</dd>
           {% endif %}
           {% if order.register_construction %}
              <dd>Payment of subcontractors for construction work</dd>
           {% endif %}
         {% endif %}
       </dl>
     </div>
     <h3>Confirmation</h3>
     <form action="" method="post">
      <p>
        You must confirm that the above details are correct. It is an offence to provide information which you know to be incorrect.
      </p>
      <hr/>
      <div class="switch large">
        {{ form.confirm }}
        {{ form.confirm.label }}
      </div>
      <strong class="switch-label">I confirm</strong>
        <button type="submit" class="button expand">Create organisation</button>
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
  <script>

      //setup
      $('.button').attr("disabled", "disabled");
      $('.panel').addClass('unconfirmed');

      $('#confirm').change(
        function(){
          if ($(this).is(':checked') == true){
            $('.button').attr("disabled", false);
            $('.panel').removeClass('unconfirmed');
            
          }else{
            $('.button').attr("disabled", "disabled");
            $('.panel').addClass('unconfirmed');
          }
        }
      );
  </script>
{% endblock %}
