{% extends "base-transaction.html" %}
{% block title %}Taxes{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
        <h2>Taxes</h2>
        <p>
          You will be automatically registered for the following taxes.
        </p>
        <ul>
          <li>
            Your company will be registered for Corporation tax &nbsp;<small class="undo"><a href="">Don't do this</a></small>
          </li>
          <li>
            Directors will automatically be registered for Self Assessment
            &nbsp;<small class="undo"><a href="">Don't do this</a></small>
          </li>
          <li>
            Your company will automatically be registered for VAT once
            its VAT taxable turnover reaches more than &pound;81,000 &nbsp;<small class="undo"><a href="">Register now anyway</a></small>
          </li>
        </ul>
      <form method="post" action="">
        <button type="submit" class="button expand">Next</button>
      </form>
    </div>
  </div>
{% endblock %}
