{% extends "base-transaction.html" %}
{% block title %}Review Application{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
     <h2>Review details</h2>
     <div class="panel">
       <dl>
         <dt>Company name</dt>
         <dd>{{order.name}}</dd>
         <dt>Organisation type</dt>
         <dd>{{order.organisation_type.replace('-',' ')}}</dd>

         <dt>Address</dt>
         <dd>{{order.address}}</dd>

         <dt>Activities</dt>
         <dd>{{order.activities}}</dd>

         {% if order.register_data or order.register_employer or order.register_construction %}
          <dt>Registrations</dt>
           {% if order.register_data %}
              <dd>Data Protection</dd>
           {% endif %}
           {% if order.register_employer %}
              <dd>Employent &amp; PAYE</dd>
           {% endif %}
           {% if order.register_construction %}
              <dd>Payment of subcontractors for construction work</dd>
           {% endif %}
         {% endif %}
       </dl>
     </div>
     <h3>Confirmation</h3>
     <form action="" method="post">
      <p>
        You must confirm that the above details are correct. It is an offence to provide information which you know to be incorrect.
      </p>
      <hr/>
      <div class="switch large">
        {{ form.confirm }}
        {{ form.confirm.label }}
      </div>
      <strong class="switch-label">I confirm</strong>
        <button type="submit" class="button expand">Create organisation</button>
        {{ form.csrf_token }}
      </form>
    </div>
  </div>

  <style>
    .unconfirmed {
      background:#fafafa;
      color:#808080;
      overflow:hidden;
    }
/*    .unconfirmed::after{
      content: "UNCONFIRMED";
      display: inline-block;
      position:absolute;
      top:80px;
      text-align:center;
      color:red;
      width:100%;
      opacity:0.2;
      transform:rotate(45deg);
      font-size:2rem;
      font-weight:bold;
    }*/
    .switch {
      float:left;
      width:80px;
      margin-right:10px;
    }
    .switch-label {
      font-weight:bold;
      font-size:1.3rem;
      position:relative;
      top:5px;
    }
  </style>

  <script>

      //setup
      $('.button').attr("disabled", "disabled");
      $('.panel').addClass('unconfirmed');

      $('#confirm').change(
        function(){
          if ($(this).is(':checked') == true){
            $('.button').attr("disabled", false);
            $('.panel').removeClass('unconfirmed');
            
          }else{
            $('.button').attr("disabled", "disabled");
            $('.panel').addClass('unconfirmed');
          }
        }
      );
  </script>
{% endblock %}
