{% extends "base-transaction.html" %}
{% block title %}Registrations{% endblock%}
{% block transaction_content %}
  <style>
  input[type="checkbox"] {
    margin:0;
  }
  .question {
    background:#ECEDED;
  }
  </style>
  <div class="row">
    <div class="small-12 columns">
      <form method="post" action="">
        <h2>Registrations</h2>
        <p>
          There are other things you need to register for when starting a company.
          Please choose the ones that apply to your company.
        </p>
        <hr/>
        <p class="question">
          {{render_checkbox(form.register_data)}}
        </p>
        <p class="hint">
          This could include: keeping customers’ addresses on file, recording staff working hours, giving delivery information to a delivery company.
        </p>
        <p>
          {{render_checkbox(form.register_employer)}}
        </p>
        <p class="hint">
           This includes if you’re employing yourself e.g. as the only director of a limited company.
        </p>
        <p>
          {{render_checkbox(form.register_construction)}}
        </p>
        <p class="hint">
          You must register as a contractor with the Construction Industry Scheme (CIS) if: you pay subcontractors to do construction work your business doesn’t do construction work but you usually spend more than £1 million a year on construction.
        </p>
        <button type="submit" class="button expand">Next</button>
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
{% endblock %}
