{% extends "base_service.html" %}
{% block title %}{{organisation.name}}{% endblock%}
{% block service_title %} Manage - {{organisation.name}}{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>{{organisation.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>
        {% for todo in todos%}
          <div data-alert class="alert-box success todo" data-org="{{organisation_id}}" id={{todo.uuid}}>
            Application for: {{ todo.licence_type }} Hearing scheduled for {{todo.hearing_date.strftime('%d/%m/%Y')}} at Borchester City Council.
            <a href="#" class="close">x</a>
          </div>
        {% endfor %}
      </p>
    </div>
  </div>
{% endblock %}
